.nav{
    background:  rgb(80, 0, 16);
    padding: 15px 5%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    color:#ffff;
    font-size: 28px;
    font-weight: bold;
     
}
.linked a {
    color: #ffff;
    font-size: 18px;
    margin: 0 15px;

}